{% extends "layout.html"%}

{% block title %}
<title>Arithmetic Operations</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/block_drag_drop.css')}}">
{% endblock %}

{% include 'includes/_navbar.html' %}

{% block body %}

{% include 'includes/_block_drag_drop.html'%}

{% block js %}
<script src="{{ url_for('static', filename='js/blockly_compressed.js') }}"></script>
<script src="{{ url_for('static', filename='js/blocks/colour.js') }}"></script>
<script src="{{ url_for('static', filename='js/blocks/math.js') }}"></script>
<script src="{{ url_for('static', filename='js/blocks/text.js') }}"></script>
<script src="{{ url_for('static', filename='js/msg/en.js') }}"></script>
<script src="{{ url_for('static', filename='js/generators/python_compressed.js') }}"></script>
<script src="{{ url_for('static', filename='js/block_drag_drop.js') }}"></script>

{% endblock %}

{% endblock %}