<!--
Author: Amudhan Manisekaran
Date modified: 11/18/2019
 -->

{% extends "layout.html"%}

{% block title %}
<title>MatHub - Boards</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/boards.css')}}">
{% endblock %}

{% include 'includes/_navbar.html' %}
{% block body %}

<div class="row dynamic-margin">
    <div class="col-xs-2 col-xs-offset-5">
        <img class="img-responsive" id="logo_page" src="{{ url_for('static', filename='img/logo.png') }}" alt="MatHub">
    </div>
</div>

<!-- <div class="row">
    <div class="col-xs-2 col-xs-offset-5">
        <img class="img-responsive" src="{{ url_for('static', filename='img/text.png') }}" alt="MatHub">
    </div>
</div> -->

<div class="row">
    <a href="{{ url_for('game_board') }}" class="btn btn-default btn-board col-xs-offset-4 col-xs-4">Game Board</a>
</div>
<div class="row">
    <a href="{{ url_for('practice_board') }}" class="btn btn-default btn-board col-xs-offset-4 col-xs-4">Practice Board</a>
</div>
<div class="row">
    <a href="{{ url_for('assignment_board') }}" class="btn btn-default btn-board col-xs-offset-4 col-xs-4">Assignments</a>
</div>
{% endblock %}
