{% extends "layout.html"%}
{% block title %}
<title>MatHub - CMS</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cms.css')}}">
{% endblock %}


{% block body %}
<h1> USER MANAGEMENT </h1>


<div class="container">
  <table class="table table-striped" id="myTable">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">User</th>
      <th scope="col">Type</th>
      <th scope="col">Date created</th>
    </tr>
  </thead>

</table>
  </div>

  <div class="wrapper">
      <h3>All users</h3>

      <canvas id="myChart" width="2100" height="500"></canvas>

  </div>
  <button id="remove-btn" class="btn btn-primary col-xs-3 col-xs-offset-5 ">Remove user</button>
  <button id="edit-btn" class="btn btn-primary col-xs-3 col-xs-offset-5 ">Edit user</button>
{% block js %}
<script src="{{ url_for('static', filename='js/cms.js') }}"></script>
<script src="{{ url_for('static', filename='js/cmspie.js') }}"></script>
{% endblock %}

{% endblock %}
