{% extends "layout.html"%}

{% block title %}
<title>MatHub - Admin</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_user.css')}}">
{% endblock %}

{% include 'includes/_navbar.html' %}
{% block body %}
<div class="row" style="margin-top: 2%">
    <img class="col-xs-2 col-xs-offset-2 img-responsive text-center" id="logo" src="{{ url_for('static', filename='img/logo.png')}}" alt="MatHub" >
</div>
<div class="row">
    <h2 class="col-xs-8 col-xs-offset-1 log-head" id="CreateUserHead"> Create new user:</h2>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        {% include 'includes/_messages.html' %}
    </div>
</div>
<div class="row" id="form">
    <div class="col-xs-10 col-xs-offset-1" id="form">
        <form method="POST" action="/create-user">
            <div class="row">
                <div class="form-group col-xs-5 col-xs-offset-4">
                    <label for="usertype">Select User type</label>
                    <select id="usertype" class="form-control" name="usertype">
                        <option value="selection">-- Select --</option>
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                        <option value="parent">Parent</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-5 col-xs-offset-4">
                    <label for="username">Email</label>
                    <input type="email" class="form-control" id="username" name="username">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-5 col-xs-offset-4">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-5 col-xs-offset-4">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-5 col-xs-offset-4">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" id="conf_password" name="conf_password">
                </div>
            </div>
            <div id="extra-details"></div>
            <button type="submit" id="create-user-btn" class="btn btn-primary col-xs-3 col-xs-offset-5">Create User</button>
            <button type="reset" id="reset-btn" class="btn btn-primary col-xs-3 col-xs-offset-5 ">Reset</button>
        </form>
    </div>
</div>

{% block js %}
<script src="{{ url_for('static', filename='js/create_user.js') }}"></script>
{% endblock %}
{% endblock %}
