<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta id="apiURL" data-url="http://127.0.0.1:5000/eval">

    {% block meta%}
    {% endblock %}
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css')}}">
    {% block css %}
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        {% block body %} {% endblock %}
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    {% block js %}
    {% endblock %}
</body>
</html>