<!--
Author: Amudhan Manisekaran
Date modified: 11/18/2019
 -->

{% extends "layout.html"%}

{% block title %}
<title>MatHub - Login</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}
<div class="row" style="margin-top: 5%">
    <img class="col-xs-1 col-xs-offset-3 img-responsive text-center" src="{{ url_for('static', filename='img/logo.png')}}" id="logo" alt="MatHub" >
</div>

<div class="row">
    {% if login_type != 'admin' %}
    <h1 class="col-xs-6 col-xs-offset-3 log-head" id="LoginToMathub"> Log in to MatHub</h1>
    {% else %}
    <h1 class="col-xs-6 col-xs-offset-3 log-head" id="AdminLogin"> Admin Log in</h1>
    {% endif %}
</div>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3" id="form">
        {% if login_type != 'admin' %}
        <form method="POST" action="/login">
        {% else %}
        <form method="POST" action="/admin-login">
        {% endif %}
        {% include 'includes/_messages.html' %}
            {% if login_type != 'admin' %}
            <div class="form-group col-xs-8 col-xs-offset-2 text-center radios" id="radio_div">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionRadios" id="student-radio" value="student" checked> Student
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionRadios" id="teacher-radio" value="teacher"> Teacher
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionRadios" id="parent-radio" value="parent"> Parent
                    </label>
                </div>
            </div>
            {% endif %}
            <div class="form-group col-xs-10 col-xs-offset-1 email">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email"  name="email">
            </div>
            <div class="form-group col-xs-10 col-xs-offset-1 password">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd"  name="pwd">
            </div>
            <button type="submit" id="login-btn" class="btn btn-primary col-xs-5" >Log in</button>
        </form>
    </div>
</div>

{% if login_type != 'admin' %}
<div class="signup">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3" id="question">
            <h3>Are you an admin? </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-3">
            <a href='/admin-login' type="button" id="admin-login-btn" class="btn btn-primary">Admin Log in</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block js %}
<script>
    setTimeout(function() {
        $('.alert').fadeOut('fast');
    }, 5000);
</script>
{% endblock %}
