{% extends "layout.html"%}
{% block title %}
<title>MatHub - Profile</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css')}}">
{% endblock %}

{% include 'includes/_navbar.html' %}

{% block body %}
<h1> Parent Profile </h1>

<div class="row dynamic-margin">
    <div class="col-xs-2 col-xs-offset-5">
        <img class="img-responsive" src="{{ url_for('static', filename='img/parentprofile.png') }}" alt="MatHub">
    </div>
</div>



<div class="row">
    <h2 class="col-xs-1 col-xs-offset-5" id="Email"> Email </h2>
    <h2 class="col-xs-3 col-xs-offset-0"> {{username}} </h2>
</div>

<br>

<div class="row" id="buttons">
    <a href="{{ url_for('charts') }}" id="graph-btn" class="btn btn-default btn-board col-xs-offset-4 col-xs-2">Grade Graph</a>
</div>



{% endblock %}
