{% block title %}
<title>MatHub - Profile</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css')}}">
{% endblock %}

{% block body %}
<h1> USER PROFILE </h1>

<div class="row dynamic-margin">
    <div class="col-xs-2 col-xs-offset-5">
        <img class="img-responsive" src="{{ url_for('static', filename='img/studentprofile.png') }}" alt="MatHub">
    </div>
</div>

<div class="row">
    <h2 class="col-xs-8 col-xs-offset-1 log-head" id="CreateUserHead"> Username </h2>
</div>

{% endblock %}
