{% extends "layout.html"%}

{% block title %}
<title>MatHub</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset_password.css')}}">
{% endblock %}

{% block body %}
<div class="row" style="margin-top: 2%">
    <img class="col-xs-1 col-xs-offset-3 img-responsive text-center" id="logo" src="{{ url_for('static', filename='img/logo.png')}}" alt="MatHub" >
</div>
<div class="row">
    <h2 class="col-xs-6" id="heady"> Reset Password:</h2>
</div>
{% include 'includes/_messages.html' %}

<div class="row">
    <div class="col-xs-10 col-xs-offset-1" id="form">
        <form method="POST" action="/reset-password">
            <div class="row">
                <div class="form-group col-xs-6 col-xs-offset-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6 col-xs-offset-3">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
                    <span id='message'></span>
                </div>
            </div>
            <button type="submit" id="reset-pwd-btn" class="btn btn-primary col-xs-2 col-xs-offset-5">Reset Password</button>
        </form>
    </div>
</div>

{% block js %}
<script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
{% endblock %}
{% endblock %}
