@font-face {
   font-family: myFirstFont;
   src: url(../resources/USBI.ttf);
}

* {
   font-family: myFirstFont;
}

html {
overflow: hidden;
}


body
{
background-color:#88ceb2;
}

#b1
{
  background-color:#213534;
  font-size: 180%;
  color: #88ceb2;
}
