@font-face {
   font-family: myFirstFont;
   src: url(../resources/USBI.ttf);
}

* {
   font-family: myFirstFont;
}

.btn btn-primary
{
  height: 50%;
  background-color:#213534;
  padding-right:20%;
  padding-left:20%;
}
