@font-face {
   font-family: myFirstFont;
   src: url(../resources/USBI.ttf);
}

* {
   font-family: myFirstFont;
}

body
{
background-color:#88ceb2;
}

h2{
text-align:center;
}

.im
{
position:relative;
left:47%;
}
#a
{
background-color:#213334;
padding-right:10%;
padding-left:10%;
text-align:center;
position:relative;
left:40%;
}

#b2
{
background-color:#213334;
}
