/*
Author: Piyush Malhotra
Date modified: 11/17/2019
*/

@font-face {
   font-family: myFirstFont;
   src: url(../resources/USBI.ttf);
}

* {
   font-family: myFirstFont;
}

.navbar {
    margin-bottom: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

/* Src: https://www.sitepoint.com/pure-css3-speech-bubbles/ */
p.speech {
    position: relative;
    width: 400px;
    height: 200px;
    text-align: center;
    /* line-height: 3em; */
    padding-top: 40px;
    vertical-align: middle;
    /* background-color: #88ceb2; */
    background-color: white;
    border: 8px solid #223539;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #223539;
    -moz-box-shadow: 2px 2px 4px #223539;
    box-shadow: 2px 2px 4px #223539;
    margin-top:1%;
    word-wrap: break-word;
    font-size: 2em;
}

p.speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 300px;
    top: 190px;
    border: 25px solid;
    border-color: #223539 #223539 transparent transparent ;

}

p.speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 308px;
    top: 184px;
    border: 15px solid;
    /* border-color: #88ceb2 #88ceb2 transparent transparent; */
    border-color: white white transparent transparent ;
}

.fab-btn-play {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    font-size: 30px;
    color: #101a19 ;
    text-align: center;
    line-height: 50px;
    position: fixed;
    right: 22%;
    bottom: 50px;
    z-index: 100;
}

.fab-btn-erase {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    font-size: 30px;
    color: #101a19 ;
    text-align: center;
    line-height: 50px;
    position: fixed;
    right: 17%;
    bottom: 50px;
    z-index: 100;
}

.fab-btn-upload {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    font-size: 30px;
    color: #101a19 ;
    text-align: center;
    line-height: 50px;
    position: fixed;
    right: 12%;
    bottom: 50px;
    z-index: 100;
}

.fab-btn-download {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    font-size: 30px;
    color: #101a19 ;
    text-align: center;
    line-height: 50px;
    position: fixed;
    right: 7%;
    bottom: 50px;
    z-index: 100;
}

.glyphicon {
    line-height: 1.45;
}

.slider {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    background-color: white;

    border-style: solid;
    border-color: #4CAF50;
    border-width: 1px;

    font-size: 1.5em;
    word-wrap: break-word;
}

.slider.closed {
    max-height: 0;
}

.slider-container {
    bottom: 0px;
    z-index: 10000;
    position: fixed;
    min-height:0px;
    left:0;
    right:0;
}

.slider-toggle{
    font-size: 1.2em;
    background-color: transparent;
    background-repeat:no-repeat;
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-color: #4CAF50;
    border-radius: 10px 10px 0 0;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    min-height:0px;
}

.slider-hr {
    background-color:#4CAF50;
    margin:0;
    border-style: solid;
    border-color: #4CAF50;
    border-width: 1px;
    border-radius: 10px;
    min-height:0px;
}

.anticlockwise-90 {
    transform: rotate(270deg);
    display:block;
    font-size: 1em;
}
