@font-face {
   font-family: myFirstFont;
   src: url(../resources/USBI.ttf);
}

* {
   font-family: myFirstFont;
}

html {
overflow: hidden;
}

body {
   background-color:#88ceb2;
}

h1
{
  text-align: center;
  font-weight: 200;
  font-size: 3em;
  /* margin: 0 0 0.1em 0; */
}


.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}
