@font-face {
   font-family: myFirstFont;
   src: url(../resources/USBI.ttf);
}

* {
   font-family: myFirstFont;
}

body {
    overflow: auto;
   background-color:#88ceb2;
}

h1
{
  text-align: center;
  font-weight: 200;
  font-size: 3em;
  
}


.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  color: #999;
}

