@font-face {
   font-family: myFirstFont;
   src: url(../resources/USBI.ttf);
}

* {
   font-family: myFirstFont;
}

html {
overflow: hidden;
}

body {
   background-color:#88ceb2;
}

h1
{
  text-align: center;
}
