@font-face {
   font-family: myFirstFont;
   src: url('/static/resources/USBI.ttf');
}

* {
   font-family: myFirstFont;
}

body {
   background-color:#88ceb2;
}

#login-btn {
   background-color:#213334;
   text-align:center;
   margin-bottom: 3%;
   margin-left: 10%;
   font-size: 2.2em;
}

#singup-btn {
   background-color:#213334;
}

#form {
   border: 3px solid;
   box-shadow: 5px 5px 5px #213334;
   font-size: 1.7em;
}

.email {
   margin-top: 2%;
   margin-bottom: 2%;
}

.password {
   margin-bottom: 3%;
}

.signup {
   font-size: 1.5em;
}

.radios{
   margin-top: 1%;
   font-size: 0.75em;
   font-size: 1em;
}

.radio {
   display: inline;
   margin-left: 5%;
}

@media only screen and (max-width: 470px){
   .log-head{
      font-size: 1em;
   }

   #form {
      font-size: 1.2em;
   }

   .signup{
     font-size: 1.2em;
   }

   #LoginToMathub{
     font-size: 2em;
   }
}

@media only screen and (max-width: 3800px){
   #singup-btn {
      font-size: 0.7em;
   }

   #login-btn {
      font-size: 0.7em;
   }
}
