@font-face {
   font-family: myFirstFont;
   src: url(../resources/USBI.ttf);
}

* {
   font-family: myFirstFont;
}


.container-fluid {
    height: 100%;
}

body {
    overflow: auto;
    background-color: #88ceb2;
    font-size: 3em;
}

#reset-pwd-btn {
    background-color: #213334;
    text-align: center;
    margin-bottom: 3%;
    font-size: 0.9em;
}

#logo{
  margin-left:29%;
  padding-top: 8%;
}

#heady{
    margin-left: 29%;
}
