{% extends 'layout.html' %}

{% block title %}
<title>Arithmetic operations</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/arith.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/drag_drop.css')}}">
{% endblock %}

{% include 'includes/_navbar.html' %}
{% block body %}
<div class='row'>
    <h1>Mathub </h1>
</div>
<div class='row'>
    <h2> Arithmetic Operations </h2>
</div>

</br></br></br>

<div id='results'></div>


{% include 'includes/_drag_drop.html'%}

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/drag_drop.js') }}"></script>
{% endblock %}