{% extends "layout.html"%}

{% block title %}
<title>MatHub - Login</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_user.css')}}">
{% endblock %}

{% include 'includes/_navbar.html' %}
{% block body %}
<div class="row" style="margin-top: 2%">
    <img class="col-xs-2 col-xs-offset-5 img-responsive text-center" src="{{ url_for('static', filename='img/logo.png')}}" alt="MatHub" >
</div>
<div class="row">
    <h2 class="col-xs-6 col-xs-offset-3 text-center log-head"> Create new MatHub user!</h2>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        {% include 'includes/_messages.html' %}
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1" id="form">
        <form method="POST" action="/create-user">
            <div class="row">
                <div class="form-group col-xs-6 col-xs-offset-3">
                    <label for="usertype">Select User type</label>
                    <select id="usertype" class="form-control" name="usertype">
                        <option value="selection">Select usertype</option>
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                        <option value="parent">Parent</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6 col-xs-offset-3">
                    <label for="username">Username</label>
                    <input type="email" class="form-control" id="username" name="username" placeholder="Username">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6 col-xs-offset-3">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
            </div>
            <div id="extra-details"></div>
            <a id="create-user-btn" class="btn btn-primary col-xs-2 col-xs-offset-5">Create User</a>
        </form>
    </div>
</div>

{% block js %}
<script src="{{ url_for('static', filename='js/create_user.js') }}"></script>
{% endblock %}
{% endblock %}