<div class="row">
    <div class="col-xs-5" id="d1_buttons">
         <div id="content">
            <div id="cardPile">
            </div>
        </div>
    </div>

    <div class="col-xs-4" id="d2_workspace">
        <div id="lastCards"></div>
        <div id="cardSlots"></div>
        <button type="button" class="btn btn-success btn-sm"  id='button1' >
            <span class="glyphicon glyphicon-play"></span>
        </button>
    </div>

    <div class="col-xs-3 text-center" id="d3_result">
        <div id="last_result"></div>
        <div id="total_sum">0</div>
    </div>
</div>